#gradient {
  background-image: linear-gradient(to right, #da4453, #89216b);
}
body {
  position: relative;
}
.shopping_cart {
  color: white;
  font-size: 30px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
}
.shopping_cart .count {
  font-size: 16px;
}
form {
  display: flex;
}
form #decrease {
  width: 40px;
  height: 32px;
  border: 1px solid gray;
  background-color: white;
}
form #increase {
  width: 40px;
  height: 32px;
  border: 1px solid gray;
  background-color: white;
}
form #valueInput {
  width: 40px;
  height: 32px;
}
#modalBody img {
  width: 60px;
  height: 70px;
}
#modalBody i {
  width: 20px;
  font-size: 16px;
  background-color: #da4453;
  color: #89216b;
}
a {
  color: white;
}
#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 2;
  display: none;
}
